<!DOCTYPE html>
<meta charset="utf-8">
<body>
  <!-- Typicon images from Stephen Hutchings: http://www.flaticon.com/packs/typicons -->
  <div id="user" user="{{ user }}">
  </div>
  <div id="container">
    <div id="graphs">
    </div>
    <div id="controls">
      <div class="control">
        <img id="edit" class="svg" src="/img/typicon/pencil.svg">
      </div>
      <div class="control">
        <img id="add" class="svg" src="/img/typicon/plus.svg"/>
      </div>
    </div>
  </div>
  <link rel="stylesheet" type="text/css" href="css/style.css">

  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script type="text/javascript" src="http://d3js.org/d3.v3.min.js"></script>
  <script type="text/javascript" src="js/underscore.js"></script>
  <script type="text/javascript" data-main="js/dash.js" src="js/require.js"></script>

</body>
